<div class="jumbotron text-center">
	<div class="container">
		<div ng-repeat="rest in tagline" >
			<div class="col-md-4 well">
				<img src=""/>

				<h2>{{rest.restaurant}}</h2>
				<a>{{rest.website}}</a></br>
				<span>{{rest.number}}</span></br>
				<div ng-show="{{ creds !== undefined  && creds.type == 'user'}}">
					<a href="/book?rest={{rest.restaurant}}" class="btn btn-lg btn-primary btn-block login-button center-block" role="button">Book</a>
				</div>
			</form>
				</div>
		</div>
	</div>
</div>
